<div class="animated fadeIn">
    <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong>User System Information</strong>
              <small>Form</small>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">User Name</label>
                    <input type="text" class="form-control" [ngClass]="submitted && f.username.errors ? 'is-invalid' :  f.username.value ? 'is-valid' : ''" formControlName="username" placeholder="Username">
                    <div class="invalid-feedback" *ngIf="f.username.errors?.userNameExists">*Username Already Exist.</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">IP Address</label>
                    <input type="text" class="form-control" [ngClass]="submitted && f.ipAddress.errors ? 'is-invalid' :  f.ipAddress.value ? 'is-valid' : ''" formControlName="ipAddress" id="name" placeholder="IP Address">
                    <!-- <div class="invalid-feedback" *ngIf="f.ipAddress.errors.pattern">*Ip Address format incorrect. </div>
                    <div class="invalid-feedback" *ngIf="f.username.errors?.userNameExists">*Ip Address Already Exist.</div> -->
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">System Name</label>
                    <input type="text" class="form-control" [UpperCase]="true" [ngClass]="submitted && f.systemName.errors ? 'is-invalid' :  f.systemName.value ? 'is-valid' : ''" formControlName="systemName" id="name" placeholder="System Name">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">RAM</label>
                    <input type="text" class="form-control" [UpperCase]="true" [ngClass]="submitted && f.ram.errors ? 'is-invalid' :  f.ram.value ? 'is-valid' : ''"  formControlName="ram" id="name" placeholder="e.g 4GB">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Processor</label>
                    <input type="text" class="form-control" [UpperCase]="true" [ngClass]="submitted && f.processor.errors ? 'is-invalid' :  f.processor.value ? 'is-valid' : ''" formControlName="processor" id="name" placeholder="e.g I3 3rd">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Hard Disk</label>
                    <input type="text" class="form-control" [UpperCase]="true" [ngClass]="submitted && f.hardDisk.errors ? 'is-invalid' :  f.hardDisk.value ? 'is-valid' : ''" formControlName="hardDisk" id="name" placeholder="e.g 1TB">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Tagging</label>
                    <input type="text" class="form-control" [UpperCase]="true" formControlName="tagging" [ngClass]="submitted && f.tagging.errors ? 'is-invalid' :  f.tagging.value ? 'is-valid' : ''" placeholder="Tagging">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="name">Machine Name</label>
                    <input type="text" class="form-control" formControlName="machineName" [ngClass]="submitted && f.machineName.errors ? 'is-invalid' :  f.machineName.value ? 'is-valid' : ''" placeholder="Machine Name">
                  </div>
                </div>
                <div class="form-group col-sm-4">
                  <label for="ccmonth">MS Office/ Activate</label>
                  <select class="form-control" id="msoffice" (change)="activationOnChange($event)" [ngClass]="submitted && f.msoffice.errors ? 'is-invalid' :  f.msoffice.value ? 'is-valid' : ''" formControlName="msoffice">
                    <option value="">Select an option</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>
                <div class="col-sm-4" *ngIf="showMSSecretKey">
                    <div class="form-group">
                      <label for="name">MS Office Key</label>
                      <input type="text" class="form-control" [ngClass]="submitted && f.msSecretKey.errors ? 'is-invalid' :  f.msSecretKey.value ? 'is-valid' : ''" formControlName="msSecretKey"  placeholder="MS Office Key">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">MS Office Name</label>
                      <input type="text" class="form-control" [ngClass]="submitted && f.MSName.errors ? 'is-invalid' :  f.MSName.value ? 'is-valid' : ''" formControlName="MSName" placeholder="MS Office Name">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="ccmonth">OS Office/ Activate</label>
                    <select class="form-control" id="osoffice" (change)="activationOnChange($event)" [ngClass]="submitted && f.osActive.errors ? 'is-invalid' :  f.osActive.value ? 'is-valid' : ''" formControlName="osActive">
                      <option value="">Select an option</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                <div class="col-sm-4" *ngIf="showOSSecretKey">
                    <div class="form-group">
                      <label for="name">OS Office Key</label>
                      <input type="text" class="form-control" formControlName="osSecretKey" [ngClass]="submitted && f.osSecretKey.errors ? 'is-invalid' :  f.osSecretKey.value ? 'is-valid' : ''" placeholder="OS Office Key">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">OS Office Name</label>
                      <input type="text" class="form-control" formControlName="osName" [ngClass]="submitted && f.osName.errors ? 'is-invalid' :  f.osName.value ? 'is-valid' : ''" placeholder="OS Office Name">
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label for="ccmonth">Office No.</label>
                    <select class="form-control" [ngClass]="submitted && f.officeNumber.errors ? 'is-invalid' :  f.officeNumber.value ? 'is-valid' : ''" formControlName="officeNumber">
                      <option value="">Select an Office</option>
                      <option value="306">306</option>
                      <option value="307">307</option>
                      <option value="308">308</option>
                    </select>
                  </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Spare</label>
                      <input type="text" class="form-control" formControlName="spare" [ngClass]="submitted && f.spare.errors ? 'is-invalid' :  f.spare.value ? 'is-valid' : ''" placeholder="Spare">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Team Name</label>
                      <input type="text" class="form-control" formControlName="teamName" [ngClass]="submitted && f.teamName.errors ? 'is-invalid' :  f.teamName.value ? 'is-valid' : ''" placeholder="Team Name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label for="name">Remark</label>
                      <input type="text" class="form-control" [ngClass]="submitted && f.teamName.errors ? 'is-invalid' :  f.teamName.value ? 'is-valid' : ''" formControlName="remark" id="name" placeholder="Remark">
                      <input type="hidden" formControlName="_id">
                    </div>
                </div>
              </div><!--/.row-->
              <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <button class="btn btn-block btn-success" type="submit">{{ btnText }}</button>
                  </div>
                  <div class="col-md-4">
                      <button class="btn btn-block btn-danger" type="reset">Reset</button>
                  </div>
                  <div class="col-md-2"></div>
                </div>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
    </form>
</div>
